<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>HR Links File Summary</title>
    </head>
    <body>        
        <b>Processed Filename: [FILENAME]</b>
        <br />
        <br />
        <b>HR File</b>
        <br />
        <br />
        Total HR Records Attempted: <b>[HRATTEMPTED]</b><br />
        Total HR Records succeeded: <b>[HRSUCCEEDED]</b><br />
        Total HR Records failed: <b>[HRFAILED]</b>
        <br />
        <br />
        [IFHRERRORS]
        <b><font color="red">Errors were found processing the HR file</font></b>
        <br />        
        Please see the attached file: <b><font color="red">[HRERRORFILENAME]</font></b>
        <br />
        <br />
        <b>Separation</b>
        <br />
        <br />
        Total Separation Records Attempted: <b>[SEP]</b><br />
        Total Separation Records Succeeded : <b>[SEPSUCCEEDED]</b><br />
        Total Separation Records Failed: <b>[SEPFAILED]</b>
        <br />
        <br />
        [IFSEPERRORS]
        <b><font color="red">Errors were found processing the separation file</font></b><br />
        <b>Please see the attached file: <font color="red">[SEPERRORFILENAME]</font></b>
    </body>
</html>