<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>HR Links File Summary</title>
    </head>
    <body>        
        <b>Processed Filename(s): [FILENAMES]</b>
        <br />
        <br />
        <b>HR File</b>
        <br />
        <br />
        Total HR Records Attempted: <b>[HRATTEMPTED]</b><br />
        Total HR Records succeeded: <b>[HRSUCCEEDED]</b><br />
        Total HR Records failed: <b>[HRFAILED]</b>        
        <br />
        [IFHRERRORS]
        <br />
        <br />
        <b>Separation</b>
        <br />
        <br />
        Total Separation Records Attempted: <b>[SEPATTEMPTED]</b><br />
        Total Separation Records Succeeded : <b>[SEPSUCCEEDED]</b><br />
        Total Separation Records Failed: <b>[SEPFAILED]</b>        
        <br />
        [IFSEPERRORS]        
    </body>
</html>